---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-cactus max-w-none">
		<p>我的小站！</p>
		<h2>关于站长</h2>
		<p>冰原沙漠气候，英文社区昵称 IcyDesert。目前是一名本科生。</p>

		<p>技术栈主要点在后端；喜欢写 Go 语言。也会写一些 Python 脚本。希望认真学习前端技术。</p>

		<p>
			对 CTF 也有相当感兴趣，但没时间学（？ 毕竟后端会涉及一些安全知识，日常生活中也总有<s>可刑的</s
			>逆向需求。
		</p>

		<p>
			喜欢玩《Minecraft》，对生电玩法尤其感兴趣；是很多年云玩家，直到高考后才正式入坑——各种生电技术都是在云玩家期间研究了理论，入坑后才有机会做出来。<a
				href="https://wiki.hitmc.cc/">HITMC 服务器</a
			>成员，是原版服务器管理员。欢迎各位 MC 爱好者加入！（利益相关：喜欢原版）
		</p>

		<p>喜欢打羽毛球，经常在 B 站看羽毛球教学视频和比赛实况。</p>

		<p>
			喜欢听音乐，但风格很杂。<strong
				>《Otherside》- Lena Raine 和《稻香》- 周杰伦
			</strong>是我的最爱！主要听 2010 年以前的「老歌」，相对而言听粤语歌多一点。
		</p>

		<h2>关于本站</h2>
		<p>
			本站使用 Astro 构建，主题为 <a href="https://astro-cactus.chriswilliams.dev/">Astro Cactus</a
			>；动用仅有的前端知识进行了一些定制化修改，比如：右上角的<strong>闪烁标语（Splash）</strong
			>致敬 Minecraft。
		</p>

		<p>由 Cloudflare Pages 托管。真大善人也！</p>
	</div>
</PageLayout>
